<html>
    {% url 'element-get' uuid as the_url %}
    <p>
        Link will expire in 24 hours at {{ expiration }}
    </p>
    <p>
        <a href="{{ the_url }}">{{ the_url }}</a>
    </p>
    <p>
        This is the password to your link. {{ password }}
    </p>

</html>
