{% load rest_framework %}

<html><body>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
    </form>

    </body></html>
